/* -- GENERAL ----------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("../images/bg-body.png");
  font-family: 'Raleway', sans-serif;
}
ol, ul {
  margin: 0;
  padding: 0;
}
/* -- HEADER -----------------------------------------------------------------*/
.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
.main-header img{
  border-radius: 50%;
  border: 2px rgb(235, 235, 235) solid;
  box-shadow: 0 0 10px rgb(20, 20, 20);
  margin: 1.67% auto;
  display: block;
}
.ion-navicon-round {
  display: block;
  text-align: center;
  border-radius: 0.83%;
  margin: auto;
  margin-bottom: 1.25%;
  padding: 15px;
  width: 50px;
  background-color: rgb(20, 20, 20);
  color: rgb(235, 235, 235);
  font-size: 1.2em
}
/* -- BARRA NAVEGACION -------------------------------------------------------*/
.main-nav {
  display: inline-block;
  width: 100%;
}
.main-nav ul {
  display: none;
}
.main-nav li{
  overflow: hidden;
}
.main-nav a{
  display: block;
  background-color: rgb(20, 20, 20);
  color: rgb(235, 235, 235);
  width: 100%;
  padding: 1.67%;
  margin-top: 1px;
  font-size: 1.6em;
  text-decoration: none;
}
.ion-navicon-round:hover {
  display:block;
}
/* -- PRODUCTOS y BANNER -----------------------------------------------------*/
.banner {
  display: none;
}
.product img{
  width: 100%;
}
.product a{
  background-color: rgb(20, 20, 20);
  color: rgb(235, 235, 235);
  font-size: 1.2em;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  margin: 10px 0;
}
/* -- FOOTER -----------------------------------------------------------------*/
.main-footer  {
  overflow: hidden;
  border-radius: 15px 15px 0 0 ;
}
.main-footer a {
  background-color: rgb(162, 0, 0);
  color: rgb(235, 235, 235);
  display: block;
  width: 100%;
  font-size: 1.6em;
  text-align: center;
  padding: 1.25%;
  margin-top: 1px;
}
/* -- MEDIA QUERYS -----------------------------------------------------------*/
@media (min-width:640px) {
  body {
    margin: 0 0.83%;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  .toggle-nav {
    display: block;
    overflow: hidden;
    margin-bottom: 0;
  }
  .main-nav li {
    float: left;
    margin: 0px 0.833%;
    width: 15%;
  }
  .main-nav a {
    font-size: 1em;
    padding: 8px;
    text-align: center;
  }
  .main-nav ul {
    /*display: block !important;*/
    display: block ;
    /*overflow: hidden;*/
    width: 100%;
    margin: 0 auto;

  }
  .toggle-nav {
    display:none;
  }
  .ion-navicon-round {
    display: block;
  }
  .banner {
    display: block;
    margin: 0.83%;
    overflow: hidden;
  }
  .vip-products {
    float: left;
    margin: 0;
  }
  .banner img {
    width: 100%;
    /*margin-top: 5px;*/
  }
  .product {
    float: left;
    margin-top: 20px;
    margin: 0px 0.83%;
    width: 48.3334%;
  }
  .main-footer {
    clear: both;
    margin: 0 0.83%;
  }
}
@media (min-width:960px) {
  .product {
    float: left;
    margin-top: 20px;
    margin: 0px 0.83%;
    width: 31.66%;
  }
  .main-footer ul {
    overflow: hidden;
    background-color: rgb(162, 0, 0);
    text-align: center;
    height: 120px;
  }
  .main-footer li {
    display: inline-block;
    margin: 40px 0;
    border-right: 1px rgb(235, 235, 235) solid;
  }
  .main-footer a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
  }
  .main-footer li:last-child {
    border-right: none;
  }
}
